*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;  
}

.header{
  width: 100%;
  height: 100vh;
  background: #e2e9f7;  
}

.sidebar{
  background: #0d74f5;  
  width: 250px;           /*eğer genişliği yüzdeli değer verseydik anymate yazısı ekran daraldıkça dışarda kalırdı*/
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 30px;
}